body{
    background:#dbeafe;
    font-family:'Segoe UI',Arial,sans-serif;
}


.box{
    width:60%;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    border:2px solid #163172;
    box-shadow:0 4px 12px rgba(0,0,0,0.2);
}


h1,h3{
    color:#163172;
}


hr{
    border:1px solid #163172;
}


label{
    color:#163172;
    font-weight:bold;
}


input,textarea{
    width:100%;
    padding:10px;
    border-radius:8px;
    border:1px solid #163172;
    font-size:16px;
}


textarea{
    resize:none;
}


button{
    display:block;
    margin:auto;
    padding:10px 30px;
    background:#163172;
    color:white;
    border:none;
    border-radius:20px;
    font-size:16px;
    cursor:pointer;
}


button:hover{
    background:#274c9c;
}


.footer{
    text-align:center;
    margin-top:30px;
}


.footer a{
    color:#163172;
    text-decoration:none;
    font-weight:bold;
}


.footer a:hover{
    background:#163172;
    color:white;
    padding:5px;
    border-radius:5px;
}
