body{
    background:#dbeafe;
    font-family:'Segoe UI',Arial,sans-serif;
}


.box{
    width:75%;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    border:2px solid #163172;
    box-shadow:0 4px 12px rgba(0,0,0,0.2);
}


h1,h3{
    color:#163172;
}


.home a{
    color:#163172;
    text-decoration:none;
    font-weight:bold;
}


details{
    background:#eef5ff;
    margin:20px 0;
    padding:15px;
    border-radius:10px;
    border-left:5px solid #163172;
}


summary{
    color:#163172;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}


p{
    font-size:16px;
    line-height:1.6;
}


.footer{
    text-align:center;
    margin-top:30px;
}


.footer a{
    color:#163172;
    text-decoration:none;
    font-weight:bold;
}


.footer a:hover{
    background:#163172;
    color:white;
    padding:5px;
    border-radius:5px;
}
