body{
    margin:0;
    font-family:Arial,Helvetica,sans-serif;
    background:linear-gradient(135deg,#163172,#1e56a0,#d6e4f0);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    background:white;
    width:360px;
    padding:35px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,.3);
    text-align:center;
}

.login-box h1{
    color:#163172;
}

input{
    width:90%;
    padding:12px;
    margin:12px 0;
    border:1px solid #999;
    border-radius:8px;
    font-size:16px;
}

button{
    width:95%;
    padding:12px;
    background:#163172;
    color:white;
    border:none;
    border-radius:8px;
    font-size:17px;
    cursor:pointer;
}

button:hover{
    background:#1e56a0;
}

.footer{
    margin-top:20px;
}

.footer a{
    text-decoration:none;
    color:#163172;
    margin:10px;
    font-weight:bold;
}
